#header-background {
    background-image: linear-gradient(to right, blue,black)
}

hr {
    border: 1px solid black;
}



ul button {
    margin: 5px;
    box-shadow: -2px 2px;
}
.crdWeekly {
    width: 175px;
    min-height: 150px;
  }
  
  .crdDetails {
    width: 18rem;
    min-height: 130px;
  }
  
  .crdCurrent {
    width: 100%;
    min-height: 30rem;
  }
  
  #currentIcon {
    height: 200px;
    width: 200px;
  }
  
  .p-lg {
    font-size: 2rem;
    font-weight: bolder;
  }
  
  .uviGood {
    color: #3ee913;
  }

  .uviModerate {
    color: #dbe734;
  }
  .uviBad {
    color: #ca8319;
    }

  .uviExtreme {
    color: #fc1008;
  }